.venv/
.jupyter/
.ipython/
__pycache__/
.ipynb_checkpoints/
*.pyc
.tokensave/
.env
.Data Layer/raw/*.csv
.Data Layer/raw/*.xlsx
.Data Layer/raw/*.zip
.Data Layer/raw/*.parquet
.Data Layer/raw/*.executed.ipynb

.Data Layer/silver/*.csv
.Data Layer/silver/*.parquet
.Data Layer/gold/*.csv
.Data Layer/gold/*.parquet
